.verify-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

input {
  margin: 10px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {

  margin-top: 60px; 

  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  padding: 11px 50px;
  border-radius: 50px;
  border: none;
  background: white;
  color: #bf0909;
  
}

.error {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;

  margin-top: 45px;
}

.font-class {
  font-size: 70px;
  font-family: 'pinlock';
}

.inter-text {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

.inter-text-body {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}




.hearts-bg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

/* Heart shape */
.hearts-bg span {
  position: absolute;
  bottom: -50px;
  width: 20px;
  height: 20px;
  background: #ff85a2;
  transform: rotate(45deg);
  animation: floatUp 8s linear infinite;
  opacity: 0.8;
}

/* Heart circles */
.hearts-bg span::before,
.hearts-bg span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: inherit;
  border-radius: 50%;
}

.hearts-bg span::before {
  top: -10px;
  left: 0;
}

.hearts-bg span::after {
  left: -10px;
  top: 0;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 0.9;
  }

  100% {
    transform: translateY(-110vh) rotate(45deg);
    opacity: 0;
  }
}

.hearts-bg span:nth-child(1) {
  left: 10%;
  animation-duration: 7s;
  animation-delay: 0s;
}

.hearts-bg span:nth-child(2) {
  left: 25%;
  animation-duration: 9s;
  animation-delay: 2s;
}

.hearts-bg span:nth-child(3) {
  left: 40%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.hearts-bg span:nth-child(4) {
  left: 55%;
  animation-duration: 10s;
  animation-delay: 3s;
}

.hearts-bg span:nth-child(5) {
  left: 70%;
  animation-duration: 8s;
  animation-delay: 2s;
}

.hearts-bg span:nth-child(6) {
  left: 85%;
  animation-duration: 7s;
  animation-delay: 4s;
}

.hearts-bg span:nth-child(7) {
  left: 50%;
  animation-duration: 11s;
}

.hearts-bg span:nth-child(8) {
  left: 30%;
  animation-duration: 9s;
}