body {
    background: linear-gradient(135deg, #ff001f, #3b000a);
}

p {
    margin: 0;
}

@font-face {
  font-family: 'pinlock';
  src: url('assets/fonts/pinlock.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'valentine-font';
  src: url('assets/fonts/valentine-font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}